In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [5]:
import pandas as pd

# replace my path with yours
df = pd.read_csv('/Users/zhaoqianying/Desktop/dataset/heart+disease/cleveland.data', delim_whitespace=True, encoding='ISO-8859-1', on_bad_lines='skip')

# Check if the dataset loaded correctly
df.head()

/var/folders/hz/bbjsxmy156l5_fm7s292nj440000gn/T/ipykernel_61367/647008113.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('/Users/zhaoqianying/Desktop/dataset/heart+disease/cleveland.data', delim_whitespace=True, encoding='ISO-8859-1', on_bad_lines='skip')

      1    0   63  1.1    -9  -9.1  -9.2
-9    1  145    1  233    -9  50.0  20.0
1    -9    1    2    2     3  81.0   0.0
0     0    0    0    1  10.5   6.0  13.0
150  60  190   90  145    85   0.0   0.0
2.3   3   -9  172    0    -9  -9.0  -9.0